.bodycalc {
  width: 300px;
  height: 400px;
  background-color: coral;
  border: 2px solid black;
}

.display{
  background-color: beige;
  border: solid black 1px;
  border-radius: 5px;
}

.numericbtn {
  background-color:aquamarine;
}

.equalbtn {
  background-color:blue;
}
.numericbtn{
  border-color: blue;
}
